@using DrDocx.Models;
@model DrDocx.Core.Controllers.PatientViewModel

@{
    var patient = Model.Patient;
    var testGroups = Model.TestGroups;
    var tests = Model.Tests;
    var testResults = Model.TestResults;
    var testResultGroups = Model.TestResultGroups;

    if (patient.Name == null || patient.Name.Length == 0)
    {
        ViewData["Title"] = "Unnamed Patient";
    }
    else
    {
        // ViewData["Title"] = patient.Name + " (" + patient.PreferredName + ")";
    }
    ViewData["ReturnController"] = "Home";
    ViewData["ReturnAction"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Tabs {
    <a href="#overview" class="mdl-layout__tab is-active">Overview</a>
    <a href="#testresults" class="mdl-layout__tab">Test Results</a>
}

<form asp-action="Edit" id="form">
    <input type="hidden" asp-for="Patient.Id"/>
    <input style="display: none" type="submit" id="form-submit"/>
    <div class="mdl-layout__tab-panel is-active" id="overview">
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                    <h4 class="mdl-cell mdl-cell--12-col">Details</h4>
                    @Html.ValidationSummary()
                    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input required asp-for="Patient.Name" disabled class="mdl-textfield__input" type="text" id="fname" value="@patient.Name">
                            <label class="mdl-textfield__label" for="fname">Full Name</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            @* <input asp-for="Patient.PreferredName" disabled class="mdl-textfield__input" type="text" id="pname" value="@patient.PreferredName"> *@
                            <label class="mdl-textfield__label" for="pname">Prefered Name</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            @* <input required asp-for="Patient.DateOfBirth" disabled class="mdl-textfield__input" type="text" id="dob" value="@patient.DateOfBirth.Year-@patient.DateOfBirth.Month-@patient.DateOfBirth.Day" pattern="\d{1,4}\-\d{1,2}-\d{1,2}"> *@
                            <label class="mdl-textfield__label" for="dob">Date of Birth (YYYY-MM-DD)</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            @* <input required asp-for="Patient.DateOfTesting" disabled class="mdl-textfield__input" type="text" id="dot" value="@patient.DateOfTesting.Year-@patient.DateOfTesting.Month-@patient.DateOfTesting.Day" pattern="\d{1,4}\-\d{1,2}-\d{1,2}"> *@
                            <label class="mdl-textfield__label" for="dot">Date of Tests (YYYY-MM-DD)</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            @* <input required asp-for="Patient.MedicalRecordNumber" disabled class="mdl-textfield__input" type="text" id="mrn" value="@patient.MedicalRecordNumber"> *@
                            <label class="mdl-textfield__label" for="mrn">Medical Record Number</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            @* <input asp-for="Patient.Address" disabled class="mdl-textfield__input" type="text" id="address" value="@patient.Address"> *@
                            <label class="mdl-textfield__label" for="address">Address</label>
                        </div>
                    </div>
                </div>
                <div class="mdl-card__actions">
                    <a id="details-button" class="edit-button mdl-button" onclick="toggleEdit('details-button', ['fname', 'pname', 'dob', 'dot', 'mrn', 'address'])">Edit Patient Details</a>
                </div>
            </div>
        </section>
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text">
                    <h4 class="mdl-cell mdl-cell--12-col">Notes</h4>
                    <div class="section__text mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col  mdl-textfield mdl-js-textfield">
                            @* <textarea disabled class="mdl-textfield__input" form="form" type="text" rows="5" id="notes" asp-for="Patient.Notes">@Html.DisplayFor(model => model.Patient.Notes)</textarea> *@
                        </div>
                    </div>
                </div>
                <div class="mdl-card__actions">
                    <a id="notes-button" class="mdl-button" onclick="toggleEdit('notes-button', ['notes'])">Edit Patient Notes</a>
                </div>
            </div>
        </section>
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text">
                    <h4 class="mdl-cell mdl-cell--12-col">Medications</h4>
                    <div class="section__text mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col  mdl-textfield mdl-js-textfield">
                            @* <textarea disabled class="mdl-textfield__input" form="form" type="text" rows="5" id="meds" asp-for="Patient.Medications">@Html.DisplayFor(model => model.Patient.Medications)</textarea> *@
                        </div>
                    </div>
                </div>
                <div class="mdl-card__actions">
                    <a id="meds-button" class="mdl-button" onclick="toggleEdit('meds-button', ['meds'])">Edit Patient Medications</a>
                </div>
            </div>
        </section>
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                    <h4 class="mdl-cell mdl-cell--12-col">Analysis</h4>
                    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            @* <input asp-for="Patient.Diagnosis" disabled class="mdl-textfield__input" type="text" id="diag" value="@patient.Diagnosis"> *@
                            <label class="mdl-textfield__label" for="diag">Diagnosis</label>
                        </div>
                        <br>
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" asp-route-patientId="@patient.Id" asp-controller="Patients" asp-action="DownloadPatientReport">
                            Download Report
                        </a>
                        <br>
                    </div>
                </div>
                <div class="mdl-card__actions">
                    <a id="anal-button" class="mdl-button" onclick="toggleEdit('anal-button', ['diag'])">Edit Diagnosis</a>
                </div>
            </div>
        </section>
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                    <h4 class="mdl-cell mdl-cell--12-col">Delete</h4>
                    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--red-500" asp-route-patientId="@patient.Id" asp-controller="Patients" asp-action="Delete">
                            Delete Patient
                        </a>
                        <br>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>


<div class="mdl-layout__tab-panel" id="testresults">
    @{
        var possibleNewTestGroups = new List<TestGroup>();
        foreach (var testGroup in testGroups)
        {
            if (patient.ResultGroups == null || patient.ResultGroups.All(resultGroup => resultGroup.TestGroupInfo != testGroup))
            {
                possibleNewTestGroups.Add(testGroup);
            }
        }
    }
    @if (possibleNewTestGroups.Count > 0)
    {
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                    <h4 class="mdl-cell mdl-cell--12-col">Add Test Result Group</h4>
                    <form class="mdl-grid mdl-cell mdl-cell--12-col" asp-controller="Patients" asp-action="AddTestGroup" asp-route-patientId="@patient.Id">
                        <input type="hidden" name="patientId" value="@patient.Id"/>
                        <div class="mdl-layout-spacer"></div>
                        <select name="testGroupId" class="mdl-cell mdl-cell--5-col mdl-button mdl-button--raised " id="new-test-group">
                            @foreach (var newTestGroup in possibleNewTestGroups)
                            {
                                <option value="@newTestGroup.Id">@Html.DisplayFor(modelItem => newTestGroup.Name)</option>
                            }
                        </select>
                        <div class="mdl-layout-spacer"></div>
                        <input type="submit" class="setting-li mdl-cell mdl-cell--5-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" value="Add Test"/>

                        <div class="mdl-layout-spacer"></div>
                    </form>
                </div>
            </div>
        </section>
    }

    @if (patient.ResultGroups != null)
    {
        foreach (var testResultGroup in patient.ResultGroups)
        {
            <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                <div class="mdl-card mdl-cell mdl-cell--12-col">
                    <div class="mdl-card__supporting-text">
                        <h3>@Html.DisplayFor(model => testResultGroup.TestGroupInfo.Name)</h3>
                        @Html.DisplayFor(model => testResultGroup.TestGroupInfo.Description)

                        <table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table">
                            <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">Test Name</th>
                                <th>Raw</th>
                                <th>Scaled</th>
                                <th>Z-Score</th>
                                <th>Percent</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>

                            @if (testResultGroup.Tests != null)
                            {
                                foreach (var testResult in testResultGroup.Tests)
                                {
                                    <tr>
                                        <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(model => testResult.RelatedTest.Name)</td>
                                        <td>@Html.DisplayFor(model => testResult.RawScore)</td>
                                        <td>@Html.DisplayFor(model => testResult.StandardizedScore)</td>
                                        <td>@Html.DisplayFor(model => testResult.Percentile)</td>
                                        <td>
                                            <form asp-controller="Patients" asp-action="RemoveTest" asp-route-testResultGroupId="@testResultGroup.Id" asp-route-testResultId="@testResult.Id" method="POST">
                                                <input type="hidden" name="patientId" value="@patient.Id"/>
                                                <input type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect" value="Remove"/>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }

                            @{
                                var possibleNewTests = new List<Test>();
                                if (testResultGroup.TestGroupInfo != null && testResultGroup.TestGroupInfo.TestGroupTests != null)
                                {
                                    foreach (var testGroupTest in testResultGroup.TestGroupInfo.TestGroupTests)
                                    {
                                        if (testResultGroup.Tests == null || !testResultGroup.Tests.Any(testResult => testResult.RelatedTest == testGroupTest.Test))
                                        {
                                            possibleNewTests.Add(testGroupTest.Test);
                                        }
                                    }
                                }
                            }
                            @if (possibleNewTests.Count > 0)
                            {
                                <tr>
                                    <form asp-controller="Patients" asp-action="AddTest" asp-route-testResultGroupId="@testResultGroup.Id">
                                        <input type="hidden" name="patientId" value="@patient.Id"/>
                                        <td>
                                            <select style="width: 75px;" name="testId" class="mdl-button mdl-button--raised " id="new-test-group">
                                                @foreach (var newTest in possibleNewTests)
                                                {
                                                    <option value="@newTest.Id">@Html.DisplayFor(modelItem => newTest.Name)</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <div style="width: 50px" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <input required name="RawScore" class="mdl-textfield__input" type="text" id="raw" value="">
                                                <label class="mdl-textfield__label" for="raw">Raw</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div style="width: 50px" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <input required name="ScaledScore" class="mdl-textfield__input" type="text" id="scl" value="">
                                                <label class="mdl-textfield__label" for="scl">Scaled</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div style="width: 50px" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <input required name="ZScore" class="mdl-textfield__input" type="text" id="z" value="">
                                                <label class="mdl-textfield__label" for="z">Z-Score</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div style="width: 50px" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <input required name="Percentile" class="mdl-textfield__input" type="text" id="p" value="">
                                                <label class="mdl-textfield__label" for="p">Percentile</label>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" value="Add Test Result"/>
                                        </td>
                                    </form>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <div class="mdl-card__actions">
                        <form method="post" asp-action="RemoveTestGroup" asp-controller="Patients" asp-route-patientId="@patient.Id" asp-route-testResultGroupId="@testResultGroup.Id">
                            <input type="hidden" name="patientId" value="@patient.Id"/>
                            <input type="submit" class="mdl-button" value="Remove Test Results Group"/>
                        </form>
                    </div>
                </div>
            </section>
        }
    }
</div>